body, html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

section {
    width: 50vw;
}

form {
    margin: 1rem;
}

form fieldset {
    border: rgb(0, 0, 0) 1px solid;
}

form fieldset input {
    margin: 0.2rem;
}

form fieldset button {
    width: fit-content;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
}
